p {
  color: grey;
  font-size: 15px;
}

#popup_message_success {
  height: 55px;
}

.CreateUserPage {
  width: 880px;
  margin: 7% auto auto auto;
}

.carousel_area {
  display: inline-block;
  width: 410px;
  margin: 0;
}

.createUserForm {
  display: inline-block;
  width: 410px;
  padding: 20px;
  vertical-align: top;
  height: 520px;
}

.createButton {
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: orange;
  border: 0;
}

.createButton:hover {
  background-color: rgb(48,12,56);
}

.option_area {
  font-size: 13px;
}

.options_div {
  margin-bottom: 13px;
}

.options_label {
  margin-bottom: 2px;
}